<div id="postblock" class={{id}}>
    {{#if hasPosts}}
        <ul>
            {{#each posts as |post|}}
            <li>
                <div>
                    <a href='/{{id}}'><h2>{{title}}</h2></a>
                    <h3>Posted by {{post.user.username}} on {{createdAt}}</h3>
                    <p>{{post_content}}</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>
<div>
    <p>This is a test while I figure out session storage, so I can use my logged in user's id to call for all of their posts.</p>
</div>
<script src="./js/dashboard.js"></script>