<div id = "postblock" class = {{clean.user.username}}>
    <h2>{{clean.title}}</h2>
    <h3>Posted By {{clean.user.username}} on {{clean.created_at}}</h3>
    <p>{{clean.post_content}}</p>
    {{#unless commentsTrue}}
    <h4>Be the first to leave a comment!</h4>
    {{else}}
    <h4>Comments</h4>
    <div>
        <ul>
        {{#each clean.comments as |comment|}}
        <li>{{comment.user.username}} said: "{{comment.comment_text}}" on {{comment.created_at}}</li>
        {{/each}}
        </ul>

    </div>

    {{/unless}}
</div>

<div>
    <div>
        <form class="form comment-form">
        <label>Leave a comment:</label>
        <input class="form-input" type="text" id="comment-input" />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
</div>


<script src="./js/commentSubmit.js"></script>